{% extends "__base__.html" %}
{% block title %}o aplikacji{% endblock %}
{% block content %}


    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3">
                <div class="col"><h3 class="color-header text-uppercase">o aplikacji</h3></div></div>

                {% if about_detail %}
                <div class="p-4">
                    {% for detail in about_detail %}
                        <p>{{ detail | linebreaks }}</p>
                    {% endfor %}
                {% endif %}
                </div>
    </div></div>

{% endblock content %}