{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
    <form method="post">
        <div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">SZCZEGÓŁY PLANU</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="/plan/list/" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
        </div>
    </div>
            <div class=" menu-item col justify-content-end mb-2 noPadding" >
            <a href="/plan/add-recipe/" style="color: #1e7e34">
                <i class="far fa-plus-square icon-plus-square"></i>
                <span class="title">dodaj przepis do planu</span>
            </a>
            </div>
    <div class="schedules-content">
        <div class="schedules-content-header">
            <div class="form-group row">
              
                                <span class="col-sm-2 label-size col-form-label">
                                    Nazwa planu
                                </span>
                        <div class="col-sm-10">
                            <p class="schedules-text"> {{ plan.name }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                                <span class="col-sm-2 label-size col-form-label">
                                    Opis planu
                                </span>
                        <div class="col-sm-10">
                            <p class="schedules-text">
                                {{ plan.description }}
                            </p>
                        </div>
                    </div>
                </div>

                {% for day in days %}
                    {% if day in plan.day_names.all %}
                        <table class="table">


                            <thead>
                            <tr class="d-flex">
                                <th class="col-2">{{ day.get_day_name_display }}</th>
                                <th class="col-7"></th>
                                <th class="col-1"></th>
                                <th class="col-2"></th>
                            </tr>
                            </thead>
                            <tbody class="text-color-lighter">
                            {% for meal in meals %}
                                {% if meal.day_name == day %}
                                    <tr class="d-flex">
                                    <td class="col-2">{{ meal.meal_name }}</td>
                                    <td class="col-7">{{ meal.recipe.name }}</td>
                                    <td class="col-1 center">
                                        <button class="btn btn-danger rounded-0 text-light m-1" name="delete_meal_id"
                                                type="submit" value="{{ meal.pk }}">Usuń
                                        </button>
                                    </td>
                                    <td class="col-2 center">
                                        <a href="/recipe/{{ meal.recipe.id }}/"
                                           class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% csrf_token %}
    </form>

{% endblock content %}